/*CloseButton*/
CloseButton
{
    background-image: url(:/images/close1.png);
}

CloseButton:hover
{
	background-image: url(:/images/close2.png);
}

/*MinimizeButton*/
MinimizeButton 
{
	background-image: url(:/images/minimize1.png);
}

MinimizeButton:hover
{
    background-image: url(:/images/minimize2.png);
}

/*LineEdit style*/
QLineEdit
{
    background-color: #1e1e1e;
    color: white;
    width: 999px;
    height: 80px;
}

QLineEdit:hover
{
    background-color: #1e1e1e;
    color: white;
    width: 999px;
    height: 80px;
}

/*QLineEdit:!hover
{
    background-color: #1e1e1e;
    color: white;
}*/


QPushButton#loginBtn
{
    background-color: yellowgreen;
    border-width: 0px;
    border-radius: 10;
}

QPushButton#loginBtn:hover
{
    background-color: green;
    border-width: 0px;
    border-radius: 10;
}